<template>
  <div  class="home">
    <Header></Header>
    <h1>ALL TODOS</h1>
    <div class="CONTENT">
      <div class="count"><h2 class="yellowtext">FOR TODAY-{{this.today.length}}</h2></div>
      <div class="tasksTodo">
        <TodoTasks v-for="item of today" :key="item.id" :el="item"  />
      </div>
        <div class="count"><h2>TOMORROW-{{this.tomorrow.length}}</h2></div>
        <div class="tasksTodo">
        <TodoTasks v-for="item of tomorrow" :key="item.id" :el="item"  />
        </div>
        <div class="count"><h2>LATER-{{this.later.length}} </h2></div>
        <div class="tasksTodo">
        <TodoTasks v-for="item of later" :key="item.id" :el="item" />
        </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import Header from "../components/Header.vue";
import TodoTasks from "../components/TodoTasks.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Home",
  components: {
    Header,
    TodoTasks,
  },
  
  methods: {
        
  },
  computed: {
    ...mapGetters(['today','tomorrow','later'])
  },
  mounted() {
  this.$store.dispatch("FILTER_TODOS");
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.CONTENT {
  align-items: center;
}

.tasksTodo {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
}
h1 {
  text-align: center;
}
.count  {
  margin: 30px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: grey;
}
.yellowtext{
  color: #ffcb10;
}

</style>
