<template>
  <div class="wrapper">
    <Header></Header>
    <h1>ONLY TODAY TODOS</h1>
    <div class="tasksTodo1">
      <TodoTasks v-for="item of today" :key="item.id" :el="item" />
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import TodoTasks from "../components/TodoTasks.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Today",
  data() {
    return {};
  },
  components: {
    Header,
    TodoTasks,
  },
  // methods: {
  //   ...mapActions(["FILTER_TODOS"]),
  // },
  created: function () {},
  computed: {
    ...mapGetters(["today"]),
  },
  mounted() {
    this.$store.dispatch("FILTER_TODOS");
  },
};
</script>

<style>
.tasksTodo1 {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
}
h1 {
  margin: 40px;
}
</style>
