<template>
  <header class="header">
      <router-link to="/">HOMEPAGE</router-link>
      <router-link  to="/today">TODAY</router-link>
  </header>
</template>

<script>
export default {
    name:"Header"
}   
</script>

<style>
.header{
    max-width: 1400px;
    width: 100%;
    text-align: center;
    margin:20px auto;
}
.header > *{
    padding: 30px;
    color: grey;
    font-size: 30px;
    text-decoration: none;
}

.header a.router-link-exact-active {
  color: #FFCB10;
}
</style>