<template>
  <div class="Item_of_todos">
    <label class="label">
      <input type="checkbox"  class="checkbox" />
      <span @click="Tickit(el.id)"  :class="{activeCheck : el.completed}"  ref="yellow" class="fake"></span>
    </label>
    <div class="titles">
      <h3>{{ el.title }}</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, neque.
      </p>
      <p   class="days">{{ Text }}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "TodoTasks",
  props: ["el"],
  data() {
    return {
      Text:""
    };
  },
  methods: {
    Tickit: function (id) {
      this.todos.forEach((i) => {
        if(i.id ==id){
          i.completed = i.completed =! i.completed
       }
      });
    },
         ...mapActions(['SORT_WEEKDAYS'])
  },
  created :function(){
    this.SORT_WEEKDAYS()
  },
  computed: {
    ...mapGetters(["todos","status"]),
  },
  components: {},
  mounted() {
    
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Item_of_todos {
  /* width: 500px; */
  height: 110px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  position: relative;
  margin: 10px;
}
.activeCheck {
  background-color: #ffcb10;
}
.checkbox {
  display: none;
}
label {
  position: absolute;
  margin-top: 3%;
  margin-left: 10px;
  display: inline-block;
}
.fake {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  /* background-color: #fff; */
  position: relative;
}
.fake::before {
  content: "";
  position: absolute;
  /* background-color: #ffcb10; */
  width: 100%;
  height: 100%;
  transform: translate(-50% 50%);
  opacity: 0;
  right: 0;
  border-radius: 2px;
}

.checkbox:checked + .fake::before {
  opacity: 1;
}

.titles {
  padding-left: 40px;
  padding-top: 1px;
}
.titles > * {
  margin: 10px 0px;
}
.titles p:nth-child(2){
  opacity: .4;
}
.days {
  color: #ffcb10;
}
</style>
